@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  font-size: 18px;
}

*,
*::before,
*::after {
  font-family: "Bai Jamjuree", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
ion-icon {
  font-size: 30px;
}
body {
  min-height: 100vh;
  color: #9fabb2;
}

a {
  text-decoration: none;
  color: #9fabb2;
  transition: color 250ms linear;
}

a:hover,
a:hover img {
  color: hsl(171, 66%, 44%);
}

h1,
h2,
h3 {
  color: #4c545d;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(1.5rem, 1.1546rem + 1.8421vw, 2.8125rem);
}

h2 {
  font-size: clamp(1.25rem, 0.9868rem + 1.4035vw, 2.25rem);
}

h3 {
  font-size: clamp(1.125rem, 1.0428rem + 0.4386vw, 1.4375rem);
}

h2,
h3 {
  margin-bottom: 1em;
}

.header {
  background-image: url("images/bg-header-desktop.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.header .wrapper {
  width: min(75rem, 90%);
}

.header .brand-logo {
  display: block;
  margin: auto;
  padding-block: 8rem 2rem;
}

.header h1 {
  margin-block: 0.5em;
}

.header p {
  width: min(90%, 35rem);
  margin: auto;
}

.buttons-container {
  margin-top: 1.5rem;
}

.header button,
.main-footer button {
  display: inline-block;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  letter-spacing: 1px;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: white;
}

.header button:first-child,
.main-footer button:first-child {
  margin-right: 0.6rem;
}

.header button:nth-child(1),
.main-footer button:nth-child(1) {
  transition: background-color 250ms linear;
  background-color: #26baa4;
  border-bottom: 3px solid #156659;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(38, 186, 164, 0.3);
  box-shadow: 0px 2px 5px 1px rgba(38, 186, 164, 0.3);
}
.header button:nth-child(1):hover,
.main-footer button:nth-child(1):hover {
  background-color: hsl(171, 66%, 54%);
}

.header button:nth-child(2),
.main-footer button:nth-child(2) {
  transition: background-color 250ms linear;
  background-color: #6173ff;
  border-bottom: 3px solid #001194;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(97, 115, 255, 0.3);
  box-shadow: 0px 2px 5px 1px rgba(97, 115, 255, 0.3);
}

.header button:nth-child(2):hover,
.main-footer button:nth-child(2):hover {
  background-color: hsl(233, 100%, 79%);
}

.main {
  padding-block: 6rem;
}

.first-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4.5rem;
}

.first-main-section p {
  margin-bottom: 2.5rem;
  width: 50%;
}

.first-main-section section p {
  width: 60%;
}

.first-main-section section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5rem;
  text-align: left;
  margin: auto;
}

.first-main-section section h3 {
  margin-top: 2rem;
}

.first-main-section section img {
  display: block;
}

.second-main-section {
  width: min(75rem, 90%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.second-main-section > p {
  margin-bottom: 4rem;
  width: min(80%, 40rem);
}

.third-main-section {
  text-align: center;
  width: min(75rem, 90%);
  margin: auto;
  margin-bottom: 10rem;
}

.third-main-section > p {
  margin-bottom: 3rem;
}

.third-main-section .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  place-items: top;
  margin-bottom: 5rem;
  gap: 1rem;
}

.third-main-section .icons-container img {
  margin-bottom: 1.5rem;
  height: 30px;
}

.third-main-section .icons-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.third-main-section .icons-container div p {
  line-height: 1.5;
}

.third-main-section .images-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-footer {
  text-align: center;
  width: min(75rem, 90%);
  margin: auto;
}

.main-footer p {
  width: min(80%, 40rem);
  margin: auto;
}

.main-footer .wrapper {
  margin: auto;
}

.footer {
  background-color: #f6f6fe;
  padding-block: 3rem;
}

.footer .wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .socials img {
  display: block;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5rem;
}

.footer .footer-links img {
  width: 50px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.footer .footer-links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 800px) {
  .first-main-section {
    width: 90%;
    margin: auto;
    margin-bottom: 4.5rem;
  }
  .first-main-section section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
  }
  .first-main-section section p {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .header .brand-logo {
    width: 100px;
  }
  .header {
    background-image: url("images/bg-header-mobile.png");
  }
  .first-main-section p {
    width: 80%;
  }
  .third-main-section .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    place-items: top;
    margin-bottom: 5rem;
    gap: 1rem;
  }
  .third-main-section .images-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4rem;
  }
  button {
    display: block;
  }
  .header button:first-child,
  .main-footer button:first-child {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-links {
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer .footer-links div {
    align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */
